/* You can add global styles to this file, and also import other style files */
.clickable {
  cursor: pointer;
}

#toast-container > div {
  opacity: 1;
}

.red-text {
  color: #ff0000;
}

.button-column {
  width: 15%
}
