  <div class="container">
  <h1>Create Diagnosis</h1>
  <div class="row align-items-center">
    <div class="col-md-8">
      <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
        <div class="form-group">
          <label>Patient Id</label>
          <input class="form-control" formControlName="PatientId" />
        </div>
        <div class="form-group">
          <label>Patient Name</label>
          <input class="form-control" formControlName="PatientName" />
        </div>
        <div class="form-group">
          <label>Diagnosis Notes</label>
          <textarea class="form-control" formControlName="Notes"></textarea>
          <label class="text-danger" *ngIf="service.formModel.get('Notes').touched && service.formModel.get('Notes').errors?.required">This field is mandatory.</label>
          <!--<label class="text-danger" *ngIf="service.formModel.get('Notes').touched && service.formModel.get('Notes').errors?.minLength">Minimum of 4 characters required.</label>-->
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!service.formModel.valid">SUBMIT DIAGNOSIS</button>
        </div>
      </form>
    </div>
  </div>
</div>
